
<!doctype html>
<title>Dashboard</title>
<h2>Solar Inverter Dashboard</h2>
<ul>
  <li>Working Mode: {{ data.working_mode }}</li>
  <li>AC Input Voltage: {{ data.ac_input_voltage }} V</li>
  <li>AC Input Frequency: {{ data.ac_input_frequency }} Hz</li>
  <li>Battery Voltage: {{ data.battery_voltage }} V</li>
  <li>Battery Capacity: {{ data.battery_capacity_percent }} %</li>
  <li>Output Voltage: {{ data.output_voltage }} V</li>
  <li>Output Frequency: {{ data.output_frequency }} Hz</li>
  <li>Load: {{ data.output_load_percent }} %</li>
</ul>
